<launch>
  <!-- Arguments -->
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />

  <!-- Launch mapping node and robot-->
  <include file="$(find my_turtlebot_localization)/launch/launch_amcl.launch" />
  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find my_turtlebot_path_planning)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find my_turtlebot_path_planning)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_turtlebot_path_planning)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_turtlebot_path_planning)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_turtlebot_path_planning)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find my_turtlebot_path_planning)/config/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find my_turtlebot_path_planning)/config/navfn_global_planner_params.yaml" command="load" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
  </node>
</launch>
